{% extends 'common/base.html' %}
{% block content %}

<div class="login-register-div">
    <div class="login-register-box">
        <h1>Pestagram</h1>
        <form action="">
            <input type="text" placeholder="Username"><br>
            <input type="email" placeholder="Email"><br>
            <input type="password" placeholder="Password"><br>
            <input type="password" placeholder="Repeat Password"><br>
            <button type="submit">Register</button>
        </form>
    </div>
    <div class="second-option">
        <p>Have an account?</p>
        <a href="#">Log in</a>
    </div>
</div>

{% endblock content %}
